<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625978118995-i26eplq98k2p1gu0a5046518qda47b6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625978118995-i26eplq98k2p1gu0a5046518qda47b6b</string>
	<key>API_KEY</key>
	<string>AIzaSyAiuCPBkVl7oOTut3G5SNbkGHIrH6NfV04</string>
	<key>GCM_SENDER_ID</key>
	<string>625978118995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>amadoctorsdigitalsystem.fatfix</string>
	<key>PROJECT_ID</key>
	<string>fat-fix</string>
	<key>STORAGE_BUCKET</key>
	<string>fat-fix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625978118995:ios:2591318590fe9c329087a6</string>
</dict>
</plist>